<html>
<style>
.loader {
  border: 16px solid red;
  border-radius: 150%;
  border-top: 8px solid blue;
  border-right: 8px solid white;
  border-bottom: 8px solid blue;
  border-left: 8px solid white;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>

   <head>
     <title>Glycan Image Auto-Curator</title>
   </head>

   <body>
      <h1 align="center"> Glycan Image Auto-Curator </h1>
      <div align="center">
      <form action = "upload_handler" method = "POST" enctype = "multipart/form-data">
         Manuscript (PDF): <input type="file" name="file" />
          <input type="submit" value="Curate!" onclick="return myFunction();"/>
      </form>
          <p id="demo"><div id="circle" class="loader" style ="display:none"></div></p>



          <p align = left><strong>Try Me!</strong>

          <p align = left><strong>Manuscript Example 1 (PDF):</strong> <a href={{basedir+"/annotated_Example1.pdf"}} download="Curated_Example1.pdf"><button type="button">Download Curated PDF</button></a>
          <br align = left>Sassi A, Lazaroski S, Wu G, Haslam SM, Fliegauf M, Mellouli F, Patiroglu T, Unal E, Ozdemir MA, Jouhadi Z, Khadir K et al. <i>Hypomorphic homozygous mutations in phosphoglucomutase 3 (PGM3) impair immunity and increase serum IgE levels. J Allergy Clin Immunol.</i> 2014 May;133(5):1410-9, 1419.e1-13. doi: <a href="https://doi.org/10.1016/j.jaci.2014.02.025">10.1016/j.jaci.2014.02.025.</a> Epub 2014 Apr 1. PMID: 24698316; PMCID: PMC4825677.


          <p align = left><strong>Manuscript Example 2 (PDF):</strong> <a href={{basedir+"/annotated_Example2.pdf"}} download="Curated_Example2.pdf"><button type="button">Download Curated PDF</button></a>
          <br align = left>Hong Q, Ruhaak LR, Stroble C, Parker E, Huang J, Maverakis E, Lebrilla CB. <i>A Method for Comprehensive Glycosite-Mapping and Direct Quantitation of Serum Glycoproteins.</i> J Proteome Res. 2015 Dec 4;14(12):5179-92. doi: <a href="https://pubs.acs.org/doi/10.1021/acs.jproteome.5b00756">10.1021/acs.jproteome.5b00756.</a> Epub 2015 Nov 9. PMID: 26510530; PMCID: PMC4670571.


          <p align = left><strong>Manuscript Example 3 (PDF):</strong> <a href={{basedir+"/annotated_Example3.pdf"}} download="Curated_Example3.pdf"><button type="button">Download Curated PDF</button></a>
          <br align = left>Wang C, Qiang S, Jin W, Song X, Zhang Y, Huang L, Wang Z. <i>Reductive chemical release of N-glycans as 1-amino-alditols and subsequent 9-fluorenylmethyloxycarbonyl labeling for MS and LC/MS analysis.</i> J Proteomics. 2018 Sep 15;187:47-58. doi: <a href="https://doi.org/10.1016/j.jprot.2018.06.002">10.1016/j.jprot.2018.06.002</a>. Epub 2018 Jun 6. PMID: 29885470.

          <p align = left><strong>Manuscript Example 4 (PDF):</strong> <a href={{basedir+"/annotated_Example4.pdf"}} download="Curated_Example4.pdf"><button type="button">Download Curated PDF</button></a>
          <br align = left>Beth McLeod. <i>Characterization of Glycans from Erbitux®, Rituxan® and Enbrel® using PNGase F (Glycerol-free), Recombinant.</i> GLYCOBIOLOGY & PROTEIN TOOLS. <a href="https://www.neb.com/-/media/nebus/files/application-notes/characterization-of-glycans-from-erbitux-rituxan-and-enbrel-using-pngase-f-glycerol-free-recombinant.pdf?rev=55a0ebe8a29e480cbb7354d7f972681b">Protein Expression and Analysis Manual.</a> New England Biolabs, Inc. www.neb.com.


          <p align = left><strong>Manuscript Example 5 (PDF):</strong> <a href={{basedir+"/annotated_Example5.pdf"}} download="Curated_Example5.pdf"><button type="button">Download Curated PDF</button></a>
          <br align = left>Go EP, Ding H, Zhang S, Ringe RP, Nicely N, Hua D, Steinbock RT, Golabek M, Alin J, Alam SM, Cupo A, Haynes BF, Kappes JC, et al. <i>Glycosylation Benchmark Profile for HIV-1 Envelope Glycoprotein Production Based on Eleven Env Trimers.</i> J Virol. 2017 Apr 13;91(9):e02428-16. doi: <a href="https://doi.org/10.1128/jvi.02428-16">10.1128/JVI.02428-16.</a> PMID: 28202756; PMCID: PMC5391476.

          <p align = left><strong>Manuscript Example 6 (PDF):</strong> <a href={{basedir+"/annotated_Example6.pdf"}} download="Curated_Example6.pdf"><button type="button">Download Curated PDF</button></a>
          <br align = left>Parker BL, Thaysen-Andersen M, Solis N, Scott NE, Larsen MR, Graham ME, Packer NH, Cordwell SJ. <i>Site-specific glycan-peptide analysis for determination of N-glycoproteome heterogeneity.</i> J Proteome Res. 2013 Dec 6;12(12):5791-800. doi: <a href="https://doi.org/10.1021/pr400783j">10.1021/pr400783j.</a> Epub 2013 Nov 1. PMID: 24090084.
          <br align = left>Supplementary Figure 1 (PDF): <a href={{basedir+"/annotated_Supplementary_Figure_1.pdf"}} download="Curated_Supplementary_Figure_1.pdf"><button type="button">Download Curated Supplementary Figure PDF</button></a>
          <br align = left><a href={{basedir+"/Supplementary_Figure_1.pdf"}} >Supplementary Figures of Mass Spec contain Glycans. (Original)</a></p>
          

          <p align = left><strong>PDF contain images:</strong> <a href={{basedir+"/annotated_Example0.pdf"}} download="Curated_Example0.pdf"><button type="button">Download Curated PDF</button></a>
          <br align = left><a href={{basedir+"/Example0.pdf"}} >Single Page contain Glycans</a>


          


      </div>
<script>
function myFunction() {
    document.getElementById("circle").style.display="block";
	var i = 0;
	setInterval(function(){
    	i=i+1;
    	minus = sectomin(i)[0].toString()
        seconds= sectomin(i)[1].toString()
        if (minus ==0) {
            text = "Your PDF is being currated. Waited...".concat(seconds, " seconds.");
        }else{
            text = "Your PDF is being currated. Waited...".concat(minus, " minus and ", seconds, " seconds.");
        }
    	document.getElementById("demo").innerHTML = text;

        }, 1000);
}
function sectomin(seconds){
    return [parseInt((seconds % 3600) / 60), parseInt((seconds % 3600) % 60)]
}
</script>

   </body>
</html>
